body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  /* padding: 0 50px; */
}
.main_container {
  background-image: url("images/main_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1190px;
  height: 1684px;
  margin: 0 auto;
  border: 1px solid #bcb9b9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.part_one_black_bg {
  margin: 0 115px;
}

.section1 {
  display: flex;
  justify-content: space-between;
  margin: 65px 0px 39px 0px
}

.section1_left {
  display: flex;
  align-items: end;
}

.section1_right {
	margin: 0 0 21px 0px;
}

.course_name {
  color: #ffd600;
  font-size: 34px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin: 0;
}

.course_name_par {
  color: #d9d9d9;
  font-size: 34px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin: 0;
  line-height: 42px;
}

.section2 .certificate {
  color: #ffffff;
  font-size: 147px;
  letter-spacing: 10px;
  width: 960px;
  height: 173px;
  margin: auto;
  font-weight: 900;
  font-family: "Work Sans", sans-serif;
}

.forWho {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  font-family: "Work Sans", sans-serif;
  margin: 30px 0 26px;
}

.which_date {
  color: #ffffff;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 2px;
}

.congrats {
  color: #a8a8a8;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  line-height: 42px;
}

.course_name1 {
  color: #ffffff;
}

.section3 {
  margin-bottom: 130px;
}

.qr_code {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

.part_two_white_bg {
  margin: 0 115px;
}

.section6 {
  display: flex;
  justify-content: space-between;
}

.section6-left {
  margin-top: 45px;
}

.under_line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 3px 0px 3px 10px;
}

.founder_name {
  color: #000000;
  font-size: 24px;
  font-family: "Work Sans";
  font-weight: 500;
  margin: 26px 0;
  letter-spacing: 2px;
}

.founder_position {
  color: #000000;
  font-size: 24px;
  font-family: "Work Sans";
  font-weight: 300;
  margin: 0;
  letter-spacing: 1px;
}

.sign_date {
  color: #000000;
  font-size: 24px;
  font-family: "Work Sans";
  font-weight: 300;
  margin: 74px 15px 0 0;
  letter-spacing: 1px;
  display: flex;
  justify-content: end;
}

.contact_me {
  color: #000000;
  font-size: 24px;
  font-family: "Work Sans";
  font-weight: 300;
  margin: 0;
  letter-spacing: 1px;
}


.contact_me {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}